amqp==5.3.1
asgiref==3.11.0
asttokens==3.0.2
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
charset-normalizer==3.5.1
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
decorator==5.3.1
distlib==0.4.0
Django==5.2.17
django-cors-headers==4.9.0
django-extensions==3.2.3
django-filter==26.1
django-redis==5.4.0
django-unfold==0.104.1
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
executing==2.2.1
filelock==3.20.3
gunicorn==23.0.0
inflection==0.5.1
iniconfig==2.3.0
ipython==8.39.0
jedi==0.20.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
matplotlib-inline==0.2.2
packaging==26.3
parso==0.8.7
pillow==11.3.0
platformdirs==4.5.1
pluggy==1.6.0
prompt_toolkit==3.0.53
psycopg==3.3.5
psycopg-binary==3.3.5
psycopg2-binary==2.9.12
pure_eval==0.2.3
Pygments==2.20.0
PyJWT==2.13.0
pytest==8.4.2
pytest-django==4.14.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.3
PyYAML==6.0.3
redis==6.4.0
referencing==0.37.0
reportlab==4.5.1
rpds-py==2026.6.3
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.16.1
tzdata==2025.3
tzlocal==5.4.4
uritemplate==4.2.0
vine==5.1.0
virtualenv==20.36.1
wcwidth==0.8.2
dj-database-url==3.1.2
Markdown==3.10.3
whitenoise==6.12.0
